.building-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  border: 5px solid #ccc !important;
  background-color: yellow;
  button{
    display: none;
  }
  &:hover {
    background-color: rgb(104, 177, 177);

    button {
        opacity: 0.85;
        display: flex;
      }
  }
}
.highlighted{
  background-color: rgb(104, 177, 177);
}



